<template>
  <div class="text-gray-200 bg-gray-800 min-h-screen antialiased">
    <nav class="px-8 relative z-30">
      <div class="mx-auto flex items-center justify-between max-w-7xl">
        <div class="flex items-center space-x-6">
          <h1 class="text-2xl py-4 leading-none tracking-tight font-semibold uppercase border-b-4 border-gray-800">
            Galaxy
          </h1>
          <template v-if="$auth.loggedIn">
            <nuxt-link to="/galaxy" class="py-4 border-b-4 border-gray-800" exact-active-class="border-b-4 border-purple-300">
              Home
            </nuxt-link>
            <nuxt-link to="/galaxy/systems" class="py-4 border-b-4 border-gray-800" active-class="border-b-4 border-purple-300">
              Systems
            </nuxt-link>
          </template>
        </div>

        <div class="flex">
          <nuxt-link v-show="!$auth.loggedIn" exact to="/" class="py-4 border-b-4 border-gray-800" active-class="border-b-4 border-purple-300">
            <span>Sign in</span>
          </nuxt-link>
          <button v-show="$auth.loggedIn" class="inline py-4 border-b-4 border-gray-800" @click="signOut">
            <span>Sign out</span>
          </button>
        </div>
      </div>
    </nav>
    <div class="relative z-10 px-8 py-32">
      <div class="mx-auto max-w-7xl">
        <Nuxt />
      </div>
    </div>
    <div class="fixed inset-0 w-full h-full z-0 overflow-hidden">
      <div class="absolute w-full h-full z-20 bg-gradient-to-tl from-black to-purple-900 opacity-20" />
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    signOut () {
      this.$auth.logout({ data: { refreshToken: this.$auth.strategy.refreshToken.get() } })
        .then(() => this.$router.replace('/'))
    }
  }
}
</script>

<style>

</style>
