<template>
  <div class="fixed inset-0 w-full h-full overflow-hidden">
    <div class="relative left-1/4 top-2/4">
      <div style="background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);" class="w-64 h-64 rounded-full filter drop-shadow-lg hue-rotate-90" />
    </div>
    <div class="relative left-2/4">
      <div style="background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);" class="rounded-full w-96 h-96 filter drop-shadow-2xl" />
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
