<template>
  <section class="mx-auto rounded-lg text-gray-700 max-w-lg">
    <g-form autocomplete="off" @submit="handleSubmit">
      <h2 class="font-bold uppercase text-gray-100">
        Create your pilot
      </h2>
      <div class="w-16 h-1 bg-purple-300" />
      <g-form-input v-model="name" label="Name" rules="required" />
      <g-form-select v-model="galaxyId" label="Galaxy">
        <option v-for="galaxy in galaxies" :key="galaxy.id" :value="galaxy.id">
          {{ galaxy.name }}
        </option>
      </g-form-select>
      <g-button-primary>Create</g-button-primary>
    </g-form>
    <g-link-secondary class="mt-12" to="/pilots">
      <span>&leftarrow;</span><span class="ml-1">Back</span>
    </g-link-secondary>
  </section>
</template>

<script>
export default {
  middleware: 'auth',
  data () {
    return {
      name: '',
      galaxyId: '',
      galaxies: []
    }
  },
  async fetch () {
    this.galaxies = await this.$axios.$get('/api/galaxies')
    this.galaxyId = this.galaxies[0].id
  },
  methods: {
    handleSubmit () {
      this.$axios.$post('/api/pilots', {
        name: this.name,
        galaxyId: this.galaxyId
      })
        .then(() => this.$router.push('/pilots'))
    }
  }
}
</script>

<style scoped>

</style>
