<template>
  <div class="space-y-12">
    <div class="flex justify-between items-center">
      <h2 class="font-bold uppercase text-gray-100">
        Choose your pilot
      </h2>
      <g-link-secondary to="create" append>
        <span>Create</span>
        <span>&rightarrow;</span>
      </g-link-secondary>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3">
      <button
        v-for="pilot in pilots"
        :key="pilot.id"
        type="button"
        class="block p-8 md:h-64 rounded bg-gray-700 font-bold text-lg"
        :class="{ 'ring-4 ring-purple-400': isSelected(pilot)}"
        :disabled="isSelected(pilot)"
        @click="() => selectPilot({ pilotId: pilot.id })"
      >
        {{ pilot.name }}
      </button>
    </div>
    <div class="md:flex">
      <g-link-primary class="text-center" :class="{ 'pointer-events-none': startDisabled }" :aria-disabled="startDisabled" to="/galaxy">
        Start
      </g-link-primary>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  middleware: 'auth',
  async fetch () {
    await this.fetchPilots()
  },
  computed: {
    ...mapState(['pilots']),
    ...mapGetters(['selectedPilot']),
    startDisabled () {
      return !this.selectedPilot
    }
  },
  methods: {
    ...mapActions(['fetchPilots', 'selectPilot']),
    isSelected (pilot) {
      return this.selectedPilot && this.selectedPilot.id === pilot.id
    }
  }
}
</script>

<style scoped>

</style>
