<template>
  <div>
    <p v-if="$fetchState.pending">
      Loading
    </p>
    <router-view v-else />
  </div>
</template>

<script>
export default {
  middleware: ['auth', 'pilot'],
  async fetch () {
    await this.loadData()
  },
  mounted () {
    this.connect()
  },
  beforeDestroy () {
    const oldSocket = this.$store.state.websockets.events
    if (oldSocket != null) {
      oldSocket.close()
    }
    this.$store.commit('setEventWebSocket', null)
  },
  methods: {
    async loadData () {
      await Promise.all([
        this.$store.dispatch('fetchPilots'),
        this.$store.dispatch('fetchGalaxies'),
        this.$store.dispatch('fetchSystems'),
        this.$store.dispatch('fetchSpaceStations'),
        this.$store.dispatch('fetchItems')
      ])
    },
    connect () {
      const oldSocket = this.$store.state.websockets.events
      if (oldSocket) {
        oldSocket.close()
      }

      const newSocket = new WebSocket(`${process.env.websockets.baseUrl}/events?access-token=` + this.$auth.strategy.token.get().substring(7))
      this.$store.commit('setEventWebSocket', newSocket)

      const socket = this.$store.state.websockets.events
      socket.addEventListener('message', (event) => {
        if (typeof event.data !== 'string') { return }

        const message = JSON.parse(event.data)
        switch (message.event) {
          case 'DestinationReached':
            this.$store.dispatch('reachDestination', message.payload)
            break
        }
      })

      socket.addEventListener('close', (event) => {
        if (event.reason === 'OK') {
          return
        }
        setTimeout(() => {
          console.log('Events socket is closed. Attempting to reconnect in 5 seconds.', event.reason)
          this.connect(this.$auth.loggedIn)
        }, 5000)
      })

      socket.addEventListener('error', (event) => {
        console.log('Events socket errored.', event.reason)
        socket.close()
      })
    }
  }
}
</script>

<style scoped>

</style>
