<template>
  <section class="mx-auto rounded-lg text-gray-700 max-w-lg">
    <g-form @submit="signIn">
      <h2 class="font-bold uppercase text-gray-100">
        Choose your account
      </h2>
      <div class="w-16 h-1 bg-purple-300" />
      <g-form-input v-model="email" name="username" type="email" rules="required" label="Email" />
      <g-form-input v-model="password" name="password" type="password" rules="required" label="Password" />
      <g-button-primary>
        Sign In
      </g-button-primary>
    </g-form>
  </section>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      message: ''
    }
  },
  beforeMount () {
    if (this.$auth.loggedIn) {
      this.$router.replace('/pilots')
    }
  },
  methods: {
    signIn () {
      this.$auth.loginWith('local', { data: { email: this.email, password: this.password } })
        .then(() => { this.$router.replace('/pilots') })
        .catch(() => { this.message = 'it failed!' })
    }
  }
}
</script>

<style>

</style>
