<template>
  <button class="font-semibold rounded uppercase px-6 py-4 border text-purple-100 border-purple-100" v-on="$listeners">
    <slot />
  </button>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
