<template>
  <validation-provider v-slot="{ errors }" :rules="rules" class="flex flex-col space-y-1" tag="div">
    <div class="flex items-center justify-between text-sm">
      <label :for="inputId" class="inline uppercase text-gray-100 tracking-wider" :class="{ 'text-red-200': errors[0] }">
        {{ label }}
      </label>
      <div :id="helpId" :class="{ 'text-red-200': errors[0] }">
        {{ errors[0] || help }}
      </div>
    </div>
    <headless-select
      :id="inputId"
      :aria-describedby="helpId"
      class="px-6 py-4 rounded bg-white border border-gray-400 text-gray-700"
      :class="{
        'bg-red-100 border-red-400 ring-2 ring-red-400 ring-opacity-50': errors[0]
      }"
      v-bind="$attrs"
      v-on="$listeners"
    >
      <slot />
    </headless-select>
  </validation-provider>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: ''
    },
    help: {
      type: String,
      default: ''
    },
    rules: {
      type: String,
      default: ''
    },
    inputId: {
      type: String,
      default: () => Math.random().toString(36).slice(2)
    },
    helpId: {
      type: String,
      default: () => Math.random().toString(36).slice(2)
    }
  }
}
</script>

<style scoped>

</style>
