<template>
  <nuxt-link class="block rounded font-semibold uppercase px-6 py-4 border bg-purple-100 text-purple-800 border-purple-100" v-bind="$attrs">
    <slot />
  </nuxt-link>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>
