<template>
  <div class="bg-black bg-opacity-25 rounded text-gray-300 p-6 backdrop-filter backdrop-blur-lg">
    <div class="flex justify-between text-sm tracking-wide">
      <span class="uppercase">Cargo</span>
      <span>{{ pilot.storageVolume }} / {{ pilot.storageCapacity }}  <label-volume /></span>
    </div>
    <ol>
      <li v-for="cargo in cargos" :key="cargo.id" class="block">
        <div class="flex items-center justify-between">
          <button @click="sellItem(cargo.itemId)">
            <span>{{ cargo.amount }}</span>
            <span>{{ cargo.item.name }}</span>
          </button>
          <div>
            <span>{{ cargo.volume }} <label-volume /></span>
          </div>
        </div>
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  async fetch () {
    await this.$store.dispatch('fetchCargo')
  },
  computed: {
    pilot () {
      return this.$store.getters.selectedPilot
    },
    cargos () {
      return Object.values(this.$store.state.cargo.byId).map(it => ({
        ...it,
        item: this.$store.state.items.byId[it.itemId]
      }))
    }
  },
  methods: {
    sellItem (itemId) {
      this.$store.dispatch('sellItem', { itemId, amount: 1 })
    }
  }
}
</script>

<style scoped>

</style>
