<template>
  <div class="bg-black bg-opacity-25 rounded text-gray-300 p-6 backdrop-filter backdrop-blur-lg">
    <div class="flex space-x-2 text-sm uppercase tracking-wide">
      <span>{{ pilot.galaxy.name }}</span>
      <span>&bull;</span>
      <span>{{ pilot.system.name }}</span>
    </div>
    <h3 class="text-2xl font-semibold text-gray-200">
      {{ pilot.name }}
    </h3>
    <div>
      <span class="inline-flex items-center px-2 py-1 rounded-full bg-purple-700 text-purple-100 bg-opacity-50">
        <span><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" /></svg></span>
        <span class="ml-1">{{ pilot.credits }}</span>
      </span>
    </div>
    <p v-if="pilot.flyingDestination">
      Arriving at {{ pilot.flyingDestination.system.name }} in {{ pilot.flyingDestination.arrivalAt | duration }}.
    </p>
    <p v-else-if="pilot.spaceStation">
      Docked at {{ pilot.spaceStation.name }}
    </p>
  </div>
</template>

<script>
export default {
  computed: {
    pilot () {
      const selectedPilot = this.$store.getters.selectedPilot
      return {
        ...selectedPilot,
        system: this.$store.state.systems[selectedPilot.systemId],
        galaxy: this.$store.state.galaxies[selectedPilot.galaxyId],
        flyingDestination: selectedPilot.flyingDestination && ({
          ...selectedPilot.flyingDestination,
          system: this.$store.state.systems[selectedPilot.flyingDestination.systemId]
        }),
        spaceStation: selectedPilot.spaceStationId && this.$store.state.spaceStations.byId[selectedPilot.spaceStationId]
      }
    }
  }
}
</script>

<style scoped>

</style>
