<template>
  <div class="bg-black bg-opacity-25 rounded text-gray-300 p-6 backdrop-filter backdrop-blur-lg">
    <div class="text-sm uppercase tracking-wide">
      <span>Goods</span>
      <span>&bull;</span>
      <span>{{ spaceStation.name }}</span>
    </div>
    <ol>
      <li v-for="good in goods" :key="good.id">
        <button @click="buyItem(good.itemId)">
          <span>{{ good.item.name }}</span>
          <span>{{ good.price }}</span>
        </button>
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  async fetch () {
    await this.$store.dispatch('fetchGoods', this.pilot.spaceStationId)
  },
  computed: {
    pilot () {
      return this.$store.getters.selectedPilot
    },
    spaceStation () {
      return this.$store.state.spaceStations.byId[this.pilot.spaceStationId] || {}
    },
    goods () {
      const goodIds = this.$store.state.goods.bySpaceStationId[this.pilot.spaceStationId] || []
      return goodIds.map(it => this.$store.state.goods.byId[it]).map((it) => {
        const item = this.$store.state.items.byId[it.itemId]
        return ({
          ...it,
          item,
          price: Math.round(item.price * it.priceMultiplier)
        })
      })
    }
  },
  methods: {
    buyItem (itemId) {
      this.$store.dispatch('buyItem', { itemId, amount: 1 })
    }
  }
}
</script>

<style scoped>

</style>
