<template>
  <div class="bg-black bg-opacity-25 rounded text-gray-300 p-6 backdrop-filter backdrop-blur-lg">
    <div class="text-sm uppercase tracking-wide">
      System Overview
    </div>
    <ol class="mt-1 space-y-2">
      <li
        v-for="item in systemOverview"
        :key="item.id"
      >
        <button class="text-gray-200" @click="() => handleClick(item)">
          {{ item.name }}
        </button>
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  computed: {
    systemOverview () {
      return this.$store.getters.systemOverview
    }
  },
  methods: {
    handleClick (overviewItem) {
      if (overviewItem.type === 'SYSTEM') {
        this.$store.dispatch('flyTo', { systemId: overviewItem.id })
      } else if (overviewItem.type === 'STATION') {
        this.$store.dispatch('dockAt', { spaceStationId: overviewItem.id })
      }
    }
  }
}
</script>

<style scoped>

</style>
