<template>
  <div>
    <slot :ticker-count="tickerCount" />
  </div>
</template>

<script>
export default {
  props: {
    interval: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      ticker: null,
      tickerCount: 0
    }
  },
  mounted () {
    this.ticker = setInterval(() => {
      this.tickerCount += 1
    }, this.interval)
  },
  beforeDestroy () {
    clearInterval(this.ticker)
  }
}
</script>

<style scoped>

</style>
