<template>
  <div>
    <h2 class="font-bold uppercase text-gray-100">
      Systems
    </h2>
    <ol class="mt-8 grid gap-16 grid-cols-2 md:grid-cols-4">
      <li v-for="(route, index) in routes" :key="route.id">
        <div v-if="index === 0" class="space-y-1 bg-black bg-opacity-25 rounded text-gray-300 p-6">
          <h3 class="text-lg font-semibold">
            {{ route.destination.name }}
          </h3>
          <p>Current system.</p>
        </div>
        <div v-else class="flex items-center bg-black bg-opacity-25 rounded text-gray-300 p-6">
          <div class="space-y-1 flex-1">
            <h3 class="text-lg font-semibold">
              {{ route.destination.name }}
            </h3>
            <p v-if="selectedPilot.flyingDestination && selectedPilot.flyingDestination.systemId === route.destinationId">
              Arriving in <span class="font-bold">{{ selectedPilot.flyingDestination.arrivalAt | duration }}</span>
            </p>
            <p v-else>
              Flight takes <span class="font-bold">{{ route.duration | duration }}</span>.
            </p>
          </div>
          <div v-if="!(selectedPilot.flyingDestination && selectedPilot.flyingDestination.systemId === route.destinationId)">
            <g-button-tertiary type="button" class="px-2 py-1 bg-purple-100 bg-opacity-20 rounded" @click="flyTo(route)">
              Fly
            </g-button-tertiary>
          </div>
        </div>
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  async fetch () {
    await this.$store.dispatch('fetchSystemRoutes')
  },
  computed: {
    routes () {
      return this.$store.getters.systemRouteList
    },
    selectedPilot () {
      return this.$store.getters.selectedPilot
    }
  },
  methods: {
    flyTo (systemRoute) {
      this.$store.dispatch('flyTo', {
        systemId: systemRoute.destinationId
      })
    }
  }
}
</script>

<style scoped>

</style>
