<template>
  <validation-observer v-slot="{ handleSubmit }" slim>
    <form @submit.prevent="handleSubmit(onSubmit)">
      <slot />
    </form>
  </validation-observer>
</template>

<script>
export default {
  methods: {
    onSubmit () {
      this.$emit('submit')
    }
  }
}
</script>

<style scoped>

</style>
