<template>
  <div>
    <h2 class="font-bold uppercase text-gray-100">
      Dashboard
    </h2>
    <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <g-pilot />
      <g-system-overview />
      <g-space-station-goods v-if="pilot.spaceStationId" />
      <div v-else />
      <g-pilot-cargo />
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  computed: {
    pilot () {
      return this.$store.getters.selectedPilot
    }
  }
}
</script>

<style scoped>

</style>
